{% extends "base.html" %} {% load static %}
{% block content %}
<div>
  <div class="about-me">
    <h1 class='title'>About me</h1>
    <div class="about-me__info">
      <img src={% static 'extra-images/about-me-image.jpeg' %} alt="about-me-info__image" />
      <p class="about-me-info__text">
        Mi nombre es Sheila Álamo, bienvenidos/as a mi portafolio web, 
        aquí encontrarás mis trabajos más recientes. Soy una persona 
        altamente creativa y con mucha energía, aunque a veces puedo ser 
        algo tímida. Me gradué como técnico de imagen especializado en la
        ilustración en la EADSGC, más tarde hice los siguientes cursos 
        en la SPEGC: “Diseño UI/UX”, ”Programación Full-Stack”,
        ”Especialización en ML” 
      </p>
    </div>
  </div>
  <p class="title">Skills</p>
  <div class="skills">
    {% regroup skills by name as skills_list %}
    {% for skill in skills %}
    <div class="skills-element">
      <p class="skills-name">{{skill.name}}</p>
      <img class="skills-img" src={% static skill.imageDir %} alt="icon-{{skill}}"/>
      <p class="skills-rating">{{skill.rating}}</p>
    </div>  
    {% endfor %}
</div>
  {% endblock content %}
