{% extends "base.html" %} {% load static %} {% load sass_tags %} 
{% block stylesheet %} href={% sass_src 'curriculum.scss' %} {% endblock stylesheet %} 
{% block content %}
<div>
  <div>
    <h1 class="title">Curriculum</h1>
    <p>
      I am a self-taught designer and developer. I have been working in the
      industry for 3 years. I have worked on a variety of projects, from
      designing and developing websites to designing and developing mobile
      applications. I have also worked on a variety of projects, from designing
      and developing websites to designing and developing mobile applications.
    </p>
  </div>
  <div class="skills">
    {% regroup skills by name as skills_list %}
    <p class="skills-title">Skills</p>
    {% for skill in skills %}
    <p class="skill__name">{{skill.name}}</p>
    <img class="skill__image" src={% static skill.imageDir %} alt="icon-{{skill}}"/>
    {% endfor %}
</div>
  {% endblock content %}
