{% load static %} {% load sass_tags %} 
<html lang="en">
  <head>
    <link rel="stylesheet" {% block stylesheet %} href="{% sass_src 'header.scss' %}" {% endblock stylesheet %}/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sheila Álamo Portfolio</title>
  </head>
  <body>
    <div class='container'>
      {% block header %}
      <div class="header">
        <a href='/'>Sheila Álamo</a>
        <div class="header-socials">
          {% for socialPath, imagePath in socials %}
            <a class="header-socials__icon" href="{{socialPath}}">
              <img src="{% static imagePath %}" alt='socials-icons' />
            </a>
          {% endfor %}
        </div>
      </div>
      <div class="menu">
        {% for path,name in menu %}
        <a class="menu-element" href={{path}}>{{name}}</a>
        {% endfor %}
      </div>
      {% endblock header %}
      {% block content%}
      <div class="about-me">
        <p class="about-me-title">About me</p>
        <div class="about-me-info">
          <img src={% static 'extra-images/about-me-image.jpeg' %} alt="about-me-info__image" />
          <p class="about-me-info__text">
            {{aboutMeText}}
          </p>
        </div>
      </div>
      <div class="artwork">
        <p class="artwork-section">UI-Design</p>
        {% for artworkPath, artworkTitle, bigImage, firstSideImage, secondSideImage in uiDesign %}
        <a href={{artworkPath}} class="artwork-title">{{artworkTitle}}</a>
        <div class="artwork-images">
          <img class="big-image" src={% static bigImage %} alt='big-image'/>
          <div class='artwork-images-column'>
            <img class="small-image" src={% static firstSideImage %} alt='firstSideImage' />
            <img class="small-image" src={% static secondSideImage %} alt='secondSideImage' />
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="artwork">
        <p class="artwork-section">Illustrations</p>
        <p class="artwork-section">Character Design</p>
        {% for artworkPath, artworkTitle, bigImage, firstSideImage, secondSideImage in characterDesign %}
        <a href={{artworkPath}} class="artwork-title">{{artworkTitle}}</a>
        <div class="artwork-images">
          <img class="big-image" src={% static bigImage %} alt='big-image'/>
          <div class='artwork-images-column'>
            <img class="small-image" src={% static firstSideImage %} alt='firstSideImage' />
            <img class="small-image" src={% static secondSideImage %} alt='secondSideImage' />
          </div>
        </div>
        {% endfor %}
        <p class="artwork-section">Cocept Design</p>
        {% for artworkPath, artworkTitle, bigImage, firstSideImage, secondSideImage in conceptDesign %}
        <a href={{artworkPath}} class="artwork-title">{{artworkTitle}}</a>
        <div class="artwork-images">
          <img class="big-image" src={% static bigImage %} alt='big-image'/>
          <div class='artwork-images-column'>
            <img class="small-image" src={% static firstSideImage %} alt='firstSideImage' />
            <img class="small-image" src={% static secondSideImage %} alt='secondSideImage' />
          </div>
        </div>
        {% endfor %}
      </div>
      <button type="button" class="up-button">
        <img  class="up-button__image" src={% static 'icons/up-icon.svg' %} alt="up-icon" />
      </button>
      {% endblock content %}
    </div>
    {% block footer %}
    <footer>
      <p class="footer">© 2023 Sheila Álamo</p>
    </footer>
    {% endblock footer %}
  </body>
</html>
