{% extends "base.html" %} {% load static %} {% load sass_tags %}
{% block content %}
  <div class='container'>
    <div>
      <h1 class="title">Sketchbook</h1>
      <p>
        Here you can find some of my sketches and drawings. I hope you enjoy them!
      </p>
    </div>
    <div class="sketchbook">
      {% regroup sketches by name as sketches_list %}
      {% for sketch in sketches %}
      <button class="sketch">
        <p class="sketch-title"> {{sketch.title}} </p>
        <img class="sketchbook-img" src={% static sketch.imageDir %} alt=`image-{{sketch.title}}` />
      </button>
      {% endfor %}
    </div> 
{% endblock content %}

