:root {
  --foreground-rgb: 0, 0, 0; /* Texto negro */
  --background-start-rgb: 255, 255, 255; /* Fondo blanco */
  --background-end-rgb: 255, 255, 255; /* Fondo blanco */
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 0, 0, 0; /* Texto negro */
    --background-start-rgb: 255, 255, 255; /* Fondo blanco */
    --background-end-rgb: 255, 255, 255; /* Fondo blanco */
  }
}
