@charset "UTF-8";

:root {
  --secondary-color: rgb(53, 255, 62);
  --primary-color: rgb(154, 44, 184);
  --filter-primary-color: invert(23%) sepia(93%) saturate(2045%)
    hue-rotate(273deg) brightness(87%) contrast(95%);
  --background-color: rgb(84, 0, 107);
  --title-color: rgb(0, 182, 8);
  --filter-title-color: invert(66%) sepia(92%) saturate(494%) hue-rotate(64deg)
    brightness(110%) contrast(101%);
  --page-title-color: rgba(84, 0, 107, 0.55);
  --box-shadow: 0px 4px 4px var(--background-color);
}

body {
  margin: 0;
  font-family: "Urbanist", sans-serif;
  overflow-y: scroll;
}

.title {
  font-size: 1rem;
  font-weight: 700;
  color: var(--page-title-color);
}

.page-title {
  font-size: 24px;
  font-weight: 900;
  color: var(--page-title-color);
}

.container {
  padding: 6rem 1rem 1rem 1rem;
}

.header {
  position: fixed;
  background: rgb(255 255 255 / 70%);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 100%;
  padding: 0rem 0rem 1rem 0rem;
  box-shadow: 0 8px 11px 0 rgb(31 38 135 / 37%);
}

.header__top-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1rem;
}

.socials {
  display: flex;
  margin: 1rem 0rem;
  gap: 0.5rem;
}

.icon {
  cursor: pointer;
  filter: var(--filter-primary-color);
  text-decoration: none;
}
.icon:hover {
  filter: var(--filter-title-color);
  font-size: 1rem;
}
.pages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1rem;
  font-size: 10px;
}
.logo {
  height: 26px;
}
.up-button {
  cursor: pointer;
  background: none;
  border: none;
  position: fixed;
  left: 80%;
  top: 92%;
}
.about-me {
  display: flex;
  flex-direction: column;
}
.about-me img {
  height: 162px;
  border-radius: 5px;
}
.about-me__info {
  display: flex;
  /* gap: 1rem; */
  align-items: center;
  justify-content: space-between;
}
.about-me__info .p {
  width: 28%;
}
.about-me-info img {
  max-height: 162px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

.artwork {
  margin: 3rem 0rem;
}
.artwork-name {
  display: inline-flex;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  margin: 1rem 0rem;
  color: var(--primary-color);
}
.artwork-name:hover {
  color: var(--title-color);
}
.artwork-name:hover::after {
  content: "---Clic para probar";
  color: var(--title-color);
}
.artwork-images {
  display: flex;
  justify-content: space-between;
}
.artwork-images img {
  box-shadow: var(--box-shadow);
  border-radius: 5px;
}
.artwork-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.big-image {
  max-width: 100px;
}
.small-image {
  max-width: 152px;
}
.hard-skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.hard-skills img {
  filter: var(--filter-primary-color);
  height: 1rem;
}
.element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.small-text {
    font-size: 10px;
    color: var(--background-color);
    text-align: justify;
}
.education-experience {
  display: flex;
  justify-content: space-between;
}
.education-experience div {
  width: 125px;
  text-align: center;
}
.bold-text {
  display: inline;
  font-weight: 600;
  font-size: 1rem;
  color: var(--background-color);
}
.text {
  font-size: 1rem;
  font-weight: 400;
  color: var(--background-color);
}

.sketchbook {
  display: flex;
  /* grid-template-columns: repeat(2, 0.5fr); */
  gap: 1rem;
  /* justify-items: center; */
  align-items: center;
  /* text-align: center; */
  /* font-size: 39rem; */
  flex-direction: column;
}
.sketch {
  background: none;
  border: none;
  border-radius: 5px;
  font-size: 0.5rem;
  font-weight: 100;
  cursor: pointer;
}
.sketch:focus {
  font-weight: 900;
}
.sketch img:focus {
  max-height: 15vh;
}

.sketch:hover {
  font-weight: 900;
}
.sketch img:hover {
  max-height: 15vh;
}

.sketchbook-img {
  max-height: 25vh;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  padding: 1rem;
}

.animations {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  gap: 2rem;
  margin: 1.5rem 0rem;
}

.animation {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.animation img {
  max-height: 40vh;
  border-radius: 5px;
}
.info {
  display: inline;
  font-size: 1rem;
}
.soft-skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}