body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 1.3rem;
}
button {
  border: none;
  background: none;
}
.header {
  position: sticky;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
  z-index: 1000;
}
.header-icon {
  display: inline-flex;
  gap: 1rem;
}
.up-icon {
  position: fixed;
  left: 90%;
  top: 90%;
}
.up-icon:active {
  filter: invert(23%) sepia(80%) saturate(3661%) hue-rotate(345deg)
    brightness(91%) contrast(101%);
}
.up-icon:hover {
  cursor: pointer;
  filter: invert(23%) sepia(80%) saturate(3661%) hue-rotate(345deg)
    brightness(91%) contrast(101%);
}
a:active {
  filter: invert(23%) sepia(80%) saturate(3661%) hue-rotate(345deg)
    brightness(91%) contrast(101%);
}
a:hover {
  cursor: pointer;
  filter: invert(23%) sepia(80%) saturate(3661%) hue-rotate(345deg)
    brightness(91%) contrast(101%);
}
