body {
  margin: 0;
  padding: 1;
  font-family: "Urbanist", sans-serif;
  background: black;
  overflow-y: scroll;
}

.container {
  background: white;
  margin: 0.5rem 0.5rem;
  padding: 1rem 1rem 0rem 1rem;
  border-radius: 0.5rem;
  .header {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    font-size: 0.5rem;
    &-socials {
      display: inline-flex;
      gap: 0.5rem;

      &__icon {
        &:hover {
          cursor: pointer;
          filter: invert(23%) sepia(80%) saturate(3661%) hue-rotate(345deg)
            brightness(91%) contrast(101%);
        }
        &:focus {
          cursor: pointer;
          filter: invert(23%) sepia(80%) saturate(3661%) hue-rotate(345deg)
            brightness(91%) contrast(101%);
        }
      }
    }
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-element {
      text-decoration: none;
      color: black;
      font-size: 0.5rem;
      font-weight: 600;
      &:hover {
        font-size: 1rem;
        color: #ea2127;
      }
      &:focus {
        font-size: 1rem;
        color: #ea2127;
      }
    }
  }

  .element {
    border: 3px dashed black;
    border-radius: 5px;
    padding: 0.2rem;
  }
}
.footer {
  color: white;
  background: black;
  text-align: center;
  padding: 2rem;
  margin: 0rem -1rem -1rem -1rem;
}
